.card {
    background-color: var(--bg-color-secondary);
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Ej från shared */
    padding: 1rem;
    margin: 8px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.15s ease;
}
